TODO
errors
test10.rb
testexp.rb
testexp2.rb
testexp3.rb
testintdigits.rb
testlongdecimal-np10.rb
testlongdecimal2.rb
testnp.rb
testrandomtmp.rb
testrandpowertmp.rb
testrounding.rb
\#*#
.#*
*~
*.log
*.rbc
